#page {
    display: flex;
    justify-content: center;
}

#calculatorBody {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#display {
    display: flex;
    flex-direction: row-reverse;
    flex: auto;
    border: 2px solid black;
    margin-bottom: 8px;
    align-items: flex-end;
}

#para {
    display: flex;
    font-size: 70px;
    flex-direction: row-reverse;
    padding-left: 8px;
    padding-right: 8px;
    bottom: 0;
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

button {
    min-width: 94px;
    height: 75px;
}
