#page {
    display: flex;
    justify-content: center;
}

#calculatorBody {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: black;
    border-radius: 8px;
}

#display {
    display: flex;
    flex-direction: row-reverse;
    flex: auto;
    border: 2px solid black;
    margin-bottom: 8px;
    align-items: flex-end;
    background-color: rgb(185 200 175);
}

#para {
    display: flex;
    font-size: 70px;
    flex-direction: row-reverse;
    padding-right: 4px;
    bottom: 0;
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

button {
    min-width: 94px;
    height: 75px;
    border: none;
    border-radius: 8px;
}

.misc {
    background-color: #3939ff;
}

.function {
    background-color: orange;
}

.number {
    background-color: #306430;
}